*{
    margin: 0;
    padding: 0px;
    font-family: sans-serif;
}
.main{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background: radial-gradient(circle, rgba(83,31,125,1) 39%, rgba(31,36,125,1) 100%);
}
nav{
    box-shadow: 0 2px 4px 0 rgba(255, 255, 255, 0.2);
    background-color: rgb(34, 34, 34);    
    width: 100%;
    position: sticky;
    padding: 10;
    padding-right: 130;
    display: flex;
    align-items: center;
}
.logo{
    position: relative;
    left: 50px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
}
.nav-links ul li a{
    color: white;
    text-decoration: none;
    font-family: Verdana;
}
.contentLinks{
    flex: 1;
    align-items: left;
    margin: 20px 100px;
}
.contentLinks ul{
    list-style-type: none;
}
.contentLinks ul li a{
    color: black;
    font-size: 20;
    font-family: Ultra;
}
.feature img{
    width: 70px;
}
.one{
    bottom: 100px;
}
.CastDescriptions{
    background-color: rgb(34, 34, 34);
    width: 100%;
    margin: 0px 0px;
    z-index: 1;
    display: flex;
}

.TreyBioImage{
    position: relative;
    left: 150px;
}
.CastDescriptions div{
    margin: 50;
}
.CastDescriptions div p{
    color: white;
}
.TreyBio{
    text-indent: 35;
    margin: 10px 0px;
    max-width: 500px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.KalebBio{
    text-indent: 35;
    margin: 10px 0px;
    max-width: 500px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.TreyName{
    font-family: Ultra;
    text-indent: 160;
    font-size: 50;
}
.KalebName{
    font-family: Ultra;
    text-indent: 100;
    font-size: 50;
}
.podcastDescription p{
    position: relative;
    max-width: 500;
    align-items: center;
    left: 450;
    top: 100;
}
.detailedDescription{
    font-family: 'Permanent Marker';
}
.introDescription{
    margin: 10 0;
    font-size: 25;
    font-family: Ultra;
}
.titleScreen{
    font-size: 50;
    font-family: impact;
    max-width: 400;
    position: relative;
    left: 100;
    top: 40;
}
.Socials{
    margin: 50;
}
.Socials div p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}